<a href="https://colab.research.google.com/github/ViniciusLe1te/aulaBI-ETL/blob/main/ETL_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#extração
vendas_filial1 = pd.read_csv('vendas_filial1.csv')
vendas_filial2 = pd.read_excel('vendas_filial2.xlsx')

print("Dados da filial 1 :")
print(vendas_filial1.head())
print('Dados da filial 2 :')
print(vendas_filial2.head())

#transformação
vendas_filial1['Valor total'] = vendas_filial1['Quantidade Vendida'] * vendas_filial1['Preço Unitário']
vendas_filial2['Valor total'] = vendas_filial2['Quantidade Vendida'] * vendas_filial2['Preço Unitário']

print("\n\n\nDados Transformados da filial 1:")
print(vendas_filial1.head())
print("\nDados Transformados da filial 2:")
print(vendas_filial2.head())

vendas_filial1.to_csv('vendas_filial1_transformadas.csv', index = False)
vendas_filial2.to_csv('vendas_filial2_transformadas.csv', index = False)

dados_filial1 = pd.read_csv('vendas_filial1_transformadas.csv')
dados_filial2 = pd.read_csv('vendas_filial2_transformadas.csv')

print("\n\n\nDados Transformados da Filial 1 (do arquivo CSV):")
print(dados_filial1.head())
print("\nDados Transformados da Filial 2 (do arquivo CSV):")
print(dados_filial2.head())

Dados da filial 1 :
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário
0          1500.0
1          1000.0
2           600.0
3           200.0
4            80.0
Dados da filial 2 :
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário
0           250.0
1           180.0
2           900.0
3           300.0
4           120.0



Dados Transformados da filial 1:
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário  Valor total
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0

Dados Transformados da filial 2:
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  Valor total
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0



Dados Transformados da Filial 1 (do arquivo CSV):
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário  Valor total
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0

Dados Transformados da Filial 2 (do arquivo CSV):
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  Valor total
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0

In [ ]:
#Carregamento no Banco

import sqlite3

conn = sqlite3.connect('dados_transformados.db')

vendas_filial1.to_sql('vendas_filial1_transformadas', conn, index=False, if_exists='replace')
vendas_filial2.to_sql('vendas_filial2_transformadas', conn, index=False, if_exists='replace')

dados_filial1 = pd.read_sql('SELECT * FROM vendas_filial1_transformadas', conn)
dados_filial2 = pd.read_sql('SELECT * FROM vendas_filial2_transformadas', conn)

print("\n\n\nDados Transformados da Filial 1 (do banco de dados SQL):")
print(dados_filial1.head())
print("\nDados Transformados da Filial 2 (do banco de dados SQL):")
print(dados_filial2.head())

conn.close()

Dados Transformados da Filial 1 (do banco de dados SQL):
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário  Valor total
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0

Dados Transformados da Filial 2 (do banco de dados SQL):
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  Valor total
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0

In [ ]:
#Verificação do arquivo dados_transformados.db

import sqlite3

conn = sqlite3.connect('dados_transformados.db')

cursor = conn.cursor()

cursor.execute('SELECT * FROM vendas_filial1_transformadas')

dados_filial1 = cursor.fetchall()

print("Dados transformados da Filial 1:")
for linha in dados_filial1:
    print(linha)

cursor.execute('SELECT * FROM vendas_filial2_transformadas')

dados_filial2 = cursor.fetchall()

print("Dados transformados da Filial 2:")
for linha in dados_filial2:
    print(linha)

cursor.close()
conn.close()

Dados transformados da Filial 1:
(101, 'Laptop Dell XPS 13', 20, 1500.0, 30000.0)
(102, 'Smartphone Samsung Galaxy S20', 30, 1000.0, 30000.0)
(103, 'Monitor LG UltraWide 34"', 15, 600.0, 9000.0)
(104, 'Teclado Mecânico Corsair K95 RGB', 25, 200.0, 5000.0)
(105, 'Mouse Logitech MX Master 3', 10, 80.0, 800.0)
Dados transformados da Filial 2:
(201, 'Impressora HP LaserJet Pro', 12, 250.0, 3000.0)
(202, 'SSD Samsung 1TB', 18, 180.0, 3240.0)
(203, 'Tablet Apple iPad Pro', 8, 900.0, 7200.0)
(204, 'Smartwatch Samsung Galaxy Watch 4', 14, 300.0, 4200.0)
(205, 'Headset HyperX Cloud II', 20, 120.0, 2400.0)